{% include 'includes/global.conf.j2' %}

{% include 'includes/defaults.conf.j2' %}

{% include 'includes/listen.conf.j2' %}

{% include 'includes/stats.conf.j2' %}

{% include 'includes/frontend.conf.j2' %}

{% include 'includes/backend.conf.j2' %}
